Flask
Flask-PyMongo
pymongo[srv]
dnspython
pandas
openpyxl
python-dotenv
Werkzeug
itsdangerous
gunicorn==21.2.0
Flask-Limiter
Flask-Talisman
Flask-CORS
certifi
Flask-SocketIO
python-socketio
APScheduler
Flask-Compress
